@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --book-green: #6b8f71;
  --book-light: #f6f1d1;
  --hover-book-green: #729A78;
  --active-book-green: #80AE87
}

.default-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-font {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 62px;
}

.mobileMenuStyles {
  position: absolute;
  width: 50%;
  height: 100svh;
  background-color: #B1C0A1;
}

.hideScrollbar::-webkit-scrollbar {
  display: none !important;
}

.hideScrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  color: #0B2027 !important;
}

p {
  margin: 0px !important;
}

.button-colors {
  background: var(--book-green);
  color: var(--book-light);
  border-radius: 9999px !important;
}

.button-colors:hover {
  background: var(--hover-book-green);
  cursor: pointer;
  border-radius: 9999px !important;
}

.button-colors:active {
  background: var(--active-book-green);
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverFloat {
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.hoverFloat:hover {
  transform: translateY(-0.25rem);
}